name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4  # official action from GitHub, no pinning required
      - name: Install uv
        uses: astral-sh/setup-uv@22695119d769bdb6f7032ad67b9bca0ef8c4a174  # v5.4.0
        with:
          version: "latest"
      - name: Build the pages
        run: |
          ./build.bash
          cp -r archive/public/* public
      - name: Upload build result
        uses: actions/upload-artifact@v4  # official action from GitHub, no pinning required
        with:
          name: github-pages
          path: public

  publish:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5  # official action from GitHub, no pinning required
